trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
# Étape 1 : Test de démarrage
- script: echo "Pipeline initial exécuté avec succès !"
  displayName: 'Test de démarrage'

# Étape 2 : Préparer SonarQube Cloud
- task: SonarQubePrepare@5
  displayName: 'Préparer SonarQube Cloud'
  inputs:
    SonarQube: 'SonarQube Cloud service'
    scannerMode: 'CLI'
    configMode: 'manual'
    projectKey: 'soudani123'
    projectName: 'Soudani'

# Étape 3 : Analyse SonarQube
- task: SonarQubeAnalyze@5
  displayName: 'Analyse du code avec SonarQube'

# Étape 4 : Publier résultats SonarQube
- task: SonarQubePublish@5
  displayName: 'Publier résultats SonarQube'
  inputs:
    pollingTimeoutSec: '300'