trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: SonarCloudPrepare@0
  inputs:
    SonarCloud: 'SonarQube Cloud service'
    organization: 'soudani'
    scannerMode: 'CLI'
    configMode: 'manual'
    projectKey: 'soudani123'
    projectName: 'Soudani'