trigger:
- main
- dev

pool:
  name: test   # Utilisation du pool "test" de ton prof

steps:
# Étape 1 : Test de démarrage
- script: echo "Pipeline initial exécuté avec succès !"
  displayName: 'Test de démarrage'

# Étape 2 : Préparer SonarQube Cloud
- task: SonarQubePrepare@5
  displayName: 'Préparer SonarQube Cloud'
  inputs:
    SonarQube: 'SonarQube Cloud service'
    scannerMode: 'CLI'
    configMode: 'manual'
    projectKey: 'soudani123'
    projectName: 'Soudani'

# Étape 3 : Analyse SonarQube
- task: SonarQubeAnalyze@5
  displayName: 'Analyse du code avec SonarQube'

# Étape 4 : Publier résultats SonarQube
- task: SonarQubePublish@5
  displayName: 'Publier résultats SonarQube'
  inputs:
    pollingTimeoutSec: '300'

# Étape 5 : Build & Push Docker vers ACR
- task: Docker@2
  displayName: 'Build et Push image Docker'
  inputs:
    command: buildAndPush
    repository: 'soudani123/devops-kube-app'
    dockerfile: '**/Dockerfile'
    containerRegistry: 'Soudani123'
    tags: |
      latest

# Étape 6 : Déploiement dans AKS
- task: KubernetesManifest@0
  displayName: 'Déploiement dans AKS'
  inputs:
    action: deploy
    kubernetesServiceConnection: 'Soudani123 (1)'
    namespace: 'dev'
    manifests: |
      manifests/akscalculator.yml