trigger:
- main
- dev

pool:
  vmImage: 'ubuntu-latest'

steps:

# ===============================
# 1) Test de démarrage
# ===============================
- script: echo "Pipeline initial exécuté avec succès !"
  displayName: 'Test de démarrage'

# ===============================
# 2) Préparer SonarCloud
# ===============================
- task: SonarCloudPrepare@1
  displayName: 'Préparer SonarCloud'
  inputs:
    SonarCloud: 'SonarQube Cloud service'
    organization: 'soudani'
    scannerMode: 'CLI'
    configMode: 'manual'
    projectKey: 'soudani123'
    projectName: 'Soudani'

# ===============================
# 3) Analyse SonarCloud
# ===============================
- task: SonarCloudAnalyze@1
  displayName: 'Analyse du code avec SonarCloud'

# ===============================
# 4) Publier résultats SonarCloud
# ===============================
- task: SonarCloudPublish@1
  displayName: 'Publier résultats SonarCloud'
  inputs:
    pollingTimeoutSec: '300'

# ===============================
# 5) Build & Push Docker vers ACR
# ===============================
- task: Docker@2
  displayName: 'Build et Push image Docker'
  inputs:
    command: buildAndPush
    repository: 'soudani123/devops-kube-app'
    dockerfile: '**/Dockerfile'
    containerRegistry: 'Soudani123'
    tags: |
      latest

# ===============================
# 6) Déploiement dans AKS
# ===============================
- task: KubernetesManifest@0
  displayName: 'Déploiement dans AKS'
  inputs:
    action: deploy
    kubernetesServiceConnection: 'Soudani123 '
    namespace: 'dev'
    manifests: |
      manifests/akscalculator.yml
