trigger: none   # Désactive le déclenchement automatique

variables:
- name: acrName
  value: dockerRegGuer
- name: acrLoginServer
  value: dockerRegGuer.azurecr.io
- name: imageName
  value: angular-app
- name: tag
  value: $(Build.BuildId)

stages:
- stage: BuildAndPush
  jobs:
  - job: Job
    pool:
      vmImage: 'ubuntu-latest'   # Agent géré par Azure
    steps:
    - task: NodeTool@0
      displayName: Install Node.js
      inputs:
        versionSpec: '10.x'

    - task: CmdLine@2
      displayName: Install npm dependencies
      inputs:
        script: npm install --no-audit --no-fund
        workingDirectory: angular-app-kubernetes

    - task: CmdLine@2
      displayName: Build Angular app
      inputs:
        script: npm run build
        workingDirectory: angular-app-kubernetes

    - task: AzureCLI@2
      displayName: Login to ACR
      inputs:
        azureSubscription: 'Soudani123 (1) '   # Nom exact de ta connexion de service
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az acr login --name $(acrName)

    - task: Docker@2
      displayName: Build and Push Docker image to ACR
      inputs:
        command: buildAndPush
        Dockerfile: Dockerfile
        buildContext: .
        repository: $(acrLoginServer)/$(imageName)
        tags: |
          $(tag)
          latest
