trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: echo "Pipeline initial exécuté avec succès !"
  displayName: 'Test de démarrage'

- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'NomDeTaConnexionSonarCloud'   # Service Connection créé dans Azure DevOps
    organization: 'soudani'                    # Ton organisation SonarCloud
    scannerMode: 'CLI'
    configMode: 'manual'
    projectKey: 'soudani123'                   # La clé que tu as définie
    projectName: 'Soudani'                     # Le nom du projet
