trigger: none   # Pas de déclenchement automatique

variables:
  acrName: dockerRegGuer
  acrLoginServer: dockerRegGuer.azurecr.io
  imageName: angular-app
  tag: $(Build.BuildId)

stages:
- stage: BuildAndPush
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'   # Agent géré par Azure
    steps:
    - task: NodeTool@0
      displayName: Install Node.js
      inputs:
        versionSpec: '16.x'   # Version plus récente et supportée

    - script: npm install --no-audit --no-fund
      displayName: Install npm dependencies
      workingDirectory: angular-app-kubernetes

    - script: npm run build
      displayName: Build Angular app
      workingDirectory: angular-app-kubernetes

    - task: AzureCLI@2
      displayName: Login to ACR
      inputs:
        azureSubscription: 'SonarQube Cloud service'   # Nom exact de ta connexion de service
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az acr login --name $(acrName)

    - task: Docker@2
      displayName: Build and Push Docker image to ACR
      inputs:
        command: buildAndPush
        Dockerfile: angular-app-kubernetes/Dockerfile
        buildContext: angular-app-kubernetes
        repository: $(acrLoginServer)/$(imageName)
        tags: |
          $(tag)
          latest