trigger:
- main

pool:
  vmImage: 'ubuntu-latest'   # Agent géré par Azure

steps:
- task: SonarQubePrepare@5
  inputs:
    SonarQube: 'SonarQube Cloud service'
    scannerMode: 'CLI'
    configMode: 'manual'
    projectKey: 'soudani123'
    projectName: 'Soudani'

- task: SonarQubeAnalyze@5

- task: SonarQubePublish@5
  inputs:
    pollingTimeoutSec: '300'