trigger: none   # Pas de déclenchement automatique

variables:
  acrName: dockerRegSana
  acrLoginServer: dockerRegSana.azurecr.io
  imageName: angular-app
  tag: $(Build.BuildId)

stages:
- stage: BuildAndPush
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'   # Agent géré par Azure
    steps:
    # Étape 1 : Installer Node.js
    - task: NodeTool@0
      displayName: Install Node.js
      inputs:
        versionSpec: '16.x'

    # Étape 2 : Installer les dépendances npm
    - script: |
        npm cache clean --force
        npm install --legacy-peer-deps --no-audit --no-fund
      displayName: Install npm dependencies
      workingDirectory: angular-app-kubernetes

    # Étape 3 : Build Angular
    - script: npm run build
      displayName: Build Angular app
      workingDirectory: angular-app-kubernetes

    # Étape 4 : Analyse SonarQube
    - task: SonarQubePrepare@5
      inputs:
        SonarQube: 'SonarQube Cloud service'
        scannerMode: 'CLI'
        configMode: 'manual'
        projectKey: 'soudani123'
        projectName: 'Soudani'

    - task: SonarQubeAnalyze@5

    - task: SonarQubePublish@5
      inputs:
        pollingTimeoutSec: '300'

    # Étape 5 : Login ACR
    - task: AzureCLI@2
      displayName: Login to ACR
      inputs:
        azureSubscription: 'Sana-Azure-Conn'   # Ton propre service connection ARM
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az acr login --name $(acrName)

    # Étape 6 : Build & Push Docker
    - task: Docker@2
      displayName: Build and Push Docker image to ACR
      inputs:
        command: buildAndPush
        Dockerfile: angular-app-kubernetes/Dockerfile
        buildContext: angular-app-kubernetes
        repository: $(acrLoginServer)/$(imageName)
        tags: |
          $(tag)
          latest